@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

input {
  position: absolute;
  width: 260px;
  height: 33px;
  outline: none;
  border: 2px solid rgb(130, 88, 197);
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 15px;
  color: #444;
  top: 5vh;
  transform: translate(-50%, -50%);
  margin-top: 45px;
}

table {
  color: #eff;
  width: 210px;
  font-size: 17px;
}

td {
  padding: 3px;
  text-align: left;
}

td {
  width: 79px;
}
